.user-show
  =render "ideas/header"
  .user-info
    =@user.name
  .user-follow
    =render 'relationships/follow_button', user: @user
  .user-idea
    %h3.user-idea__index Your Special Ideas!
    %ul
      -@ideas.reverse_each do |idea|
        %li
          %a(href="/ideas/#{idea.id}" class="user-idea__index--each")
            = idea.title
      %end
    %h3.user-idea__likes Ideas You Like!
    %ul
      -@user.liked_ideas.each do |idea|
        %li
          %a(href="/ideas/#{idea.id}" class="user-idea__likes--each")
            =idea.title
    フォロー中
    -@user.followings.each do |user|
      = user.name
    フォロワー
    -@user.followers.where.not(id: current_user.id).each do |user|
      = user.name